joblib==1.4.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==1.26.4
optuna==4.1.0
pandas==2.2.3
pymongo=4.10.1
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
SQLAlchemy==2.0.36
tensorflow-cpu==2.17.0
yfinance==0.2.51
